body { 
    font-family: Arial;
    font-size:10pt;
    color: #555;
}

#oldsite {
    color: #666;
    text-decoration: none;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: -380px;
    padding: 0;
    width: 838px;
}

.imgwrapper {
    position: relative;
    top: 30px;
    left: 30px;
}

.imgwrapper span {
    position: absolute;
    top: -999px;
}

#bg {
    z-index: 10;
}

.logo {
    position: absolute;
    display: block;
}

#twitter {
    background: url(static/img/twitter.png) no-repeat 0 -64;
    width: 70px;
    height: 64px;
    display: block;
    top: 520;
    left: 68;
}

#twitter:hover, #twitter:focus {
    background-position: 0 0px;
}

#github {
    background: url(static/img/github.png) no-repeat 0 -130;
    width: 130px;
    height: 130px;
    display: block;
    top: 390;
    left: 245;
}

#github:hover, #github:focus {
    background-position: 0 0px;
}

#careers{
    display: block;
    background: url(static/img/careers.png) no-repeat 0 -48;
    width: 60px;
    height: 48px;
    top: 514;
    left: 62;
}

#careers:hover, #careers:focus {
    background-position: 0 0px;
}

#headsup{
    background: url(static/img/headsup.png) no-repeat 0 -57;
    width: 57px;
    height: 57px;
    display: block;
    top: 702;
    left: 419;
}

#headsup:hover, #headsup:focus {
    background-position: 0 0px;
}

#soundcloud {
    background: url(static/img/soundcloud.png) no-repeat 0 -31;
    width: 70px;
    height: 31px;
    display: block;
    top: 474;
    left: 560;
}

#soundcloud:hover, #soundcloud:focus {
    background-position: 0 0px;
}

#game {
    background: url(static/img/dokideux.png) no-repeat 0 -90;
    width: 45px;
    height: 90px;
    display: block;
    top: 422;
    left: 65;
}

#game:hover, #game:focus {
    background-position: 0 0px;
}

#tumblr {
    background: url(static/img/tumblr.png) no-repeat 0 -26;
    width: 100px;
    height: 26px;
    display: block;
    top: 338;
    left: 246;
}

#tumblr:hover, #tumblr:focus {
    background-position: 0 0px;
}


#tagline {
    display: block;
    top: 490;
    left: 150;
}

#chrome {
    margin-top: 80px;
    font-size: 8pt;
    text-align: center;
}

#chrome a {
    text-decoration: none;
    color: #888;
}
