body { 
    font-family: Arial;
    font-size: 9pt;
    color: #666;
}

#oldsite {
    color: #666;
    text-decoration: none;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    padding: 0;
    width: 900px;
}

.imgwrapper {
    position: relative;
    top: 30px;
    left: 30px;
}

.imgwrapper span {
    position: absolute;
    top: -999px;
}

#bg {
    z-index: 10;
}

.logo {
    position: absolute;
    display: block;
}

#twitter {
    background: url(static/img/twitter.png) no-repeat 0 -64;
    width: 70px;
    height: 64px;
    display: block;
    top: 449;
    left: 73;
}

#twitter:hover, #twitter:focus {
    background-position: 0 0px;
}

#github {
    background: url(static/img/github.png) no-repeat 0 -130;
    width: 130px;
    height: 130px;
    display: block;
    top: 269;
    left: 250;
}

#github:hover, #github:focus {
    background-position: 0 0px;
}

#facebook {
    background: url(static/img/facebook.png) no-repeat 0 -33;
    width: 94px;
    height: 33px;
    display: block;
    top: 469;
    left: 713;
}

#facebook:hover, #facebook:focus {
    background-position: 0 0px;
}

#wordpress {
    background: url(static/img/wordpress.png) no-repeat 0 -120;
    width: 70px;
    height: 120px;
    display: block;
    top: 625;
    left: 419;
}

#wordpress:hover, #wordpress:focus {
    background-position: 0 0px;
}

#soundcloud {
    background: url(static/img/soundcloud.png) no-repeat 0 -31;
    width: 70px;
    height: 31px;
    display: block;
    top: 358;
    left: 565;
}

#soundcloud:hover, #soundcloud:focus {
    background-position: 0 0px;
}

#tagline {
    display: block;
    top: 490;
    left: 150;
}