@font-face {
    font-family: jalane;
    src: url(static/fonts/lane.ttf);
}

body {
    font-family: "pragmatica-web", jalane, sans-serif;
    font-size:22pt;
    color: #555;
}

#oldsite {
    color: #666;
    text-decoration: none;
    font-size: 10pt;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: -450px;
    padding: 0;
    width: 838px;
}

.imgwrapper {
    position: relative;
    top: 30px;
    left: 30px;
}

.imgwrapper span {
    position: absolute;
    top: -999px;
}

#bg {
    z-index: 10;
}

.logo {
    position: absolute;
    display: block;
}

#twitter {
    background: url(static/img/twitter.png) no-repeat 0 -64;
    width: 70px;
    height: 64px;
    display: block;
    top: 613;
    left: 68;
}

#twitter:hover, #twitter:focus {
    background-position: 0 0px;
}

#github {
    background: url(static/img/github.png) no-repeat 0 -130;
    width: 130px;
    height: 130px;
    display: block;
    top: 484;
    left: 245;
}

#github:hover, #github:focus {
    background-position: 0 0px;
}

#careers{
    display: block;
    background: url(static/img/careers.png) no-repeat 0 -48;
    width: 60px;
    height: 48px;
    top: 611;
    left: 62;
}

#careers:hover, #careers:focus {
    background-position: 0 0px;
}

#headsup{
    background: url(static/img/headsup.png) no-repeat 0 -57;
    width: 57px;
    height: 57px;
    display: block;
    top: 795;
    left: 419;
}

#headsup:hover, #headsup:focus {
    background-position: 0 0px;
}

#graphics {
    background: url(static/img/reflect3.png) no-repeat 0 -50;
    width: 50px;
    height: 50px;
    display: block;
    top: 564;
    left: 571;
}

#graphics:hover, #graphics:focus {
    background-position: 0 0px;
}

#game {
    background: url(static/img/dokideux.png) no-repeat 0 -90;
    width: 45px;
    height: 90px;
    display: block;
    top: 500;
    left: 65;
}

#game:hover, #game:focus {
    background-position: 0 0px;
}

#tumblr {
    background: url(static/img/tumblr.png) no-repeat 0 -26;
    width: 100px;
    height: 26px;
    display: block;
    top: 418;
    left: 246;
}

#tumblr:hover, #tumblr:focus {
    background-position: 0 0px;
}

#schemato {
    background: url(static/img/schemato.png) no-repeat 0 -90;
    width: 90px;
    height: 90px;
    display: block;
    top: 322;
    left: 710;
}

#schemato:hover, #schemato:focus {
    background-position: 0 0px;
}

#text{
    margin: 40px auto 0 auto;
    display: block;
    width: 75%;
    line-height: 55px;
    text-align: center;
    font-weight: normal;
}

#text a {
    text-decoration: none;
    color: #FF85D6;
    font-weight: bold;
}

#tagline {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

#chrome {
    margin-top: 30px;
    font-size: 8pt;
}

#chrome a {
    text-decoration: none;
    color: #888;
}

#head {
    border: 1px solid #666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
