{% extends "base.j2" %}

{% block body %}
    <div id="games-wrapper">
        <embed src="{{ media_url('flash/deutsches_haus.swf') }}" width="640" height="480">
        <h1>Deutsches Haus Adventure</h1>
        <p><b>Click in the above box to play</b</p>
<p>Feb 22 - Mar 5 2014 - Emmett Butler, <a target="_blank" href="http://ninasays.so">Nina Freeman</a>, <a target="_blank" href="http://www.youtube.com/user/leaschoenfelder">Lea Schönfelder</a>, audio by <a target="_blank" href="http://cosstropolis.com/">Deckman Coss</a>.</p>

<p>This game is inspired by the <a href="http://deutscheshaus.as.nyu.edu/page/home">Deutsches Haus at NYU</a>. You can play in either English or German - this is my first bilingual game!</p>

<p>This game was made using Flixel, Photoshop, and Reaper. You can view the <a href="https://github.com/emmett9001/GermanHouseGame" target="_blank">Github repository</a>.</p>
    </div>
{% endblock body %}
