{% extends "base.j2" %}

{% block body %}
    <div id="games-wrapper">
        <embed src="{{ media_url('flash/fishing.swf') }}" width="640" height="480">
        <h1>Hokuto no Huchen <br />(Fist of the North Karp)</h1>
        <p><b>Click in the above box to play</b></p>
        <p>Jump on the fish to help dad get it off the hook... but don't get fishslapped!</p>

<p>Made @ Fishing Game Jam - Emmett Butler, <a target="_blank" href="http://ninasays.so">Nina Freeman</a>, audio by Deckman Coss</p>

<p>The inspiration for this game comes from a fishing trip Nina went on with her dad when she was little girl. He caught a sunfish and thought it would be funny to swing it around on the line. At the end of his swing the sunfish smacked Nina right on the cheek.</p>

<p>This game was made using Flixel, Adobe Photoshop and GIMP. You can view the <a target="_blank" href="https://github.com/emmett9001/fist-of-the-north-carp">Github repository</a> and our <a target="_blank" href="http://jam.legendaryfisher.com/forum/viewtopic.php?f=3&t=123">Fishing Jam Forum post</a>.</p>

<p><a href="http://indiestatik.com/2013/06/03/hokuto-no-huchen-fist-of-the-north-carp/">Indiestatik</a></p>
    </div>
{% endblock body %}
