{% extends "base.j2" %}

{% block body %}
    <div id="games-wrapper">
        <embed src="{{ media_url('flash/howdoyoudoit.swf') }}" width="640" height="480">
        <h1>how do you Do It</h1>
        <p><b>Click in the above box to play</b</p>
<p>Originally made for Global Game Jam,  Jan 24-26 2014 - Emmett Butler, <a target="_blank" href="http://ninasays.so">Nina Freeman</a>, audio by <a href="http://cosstropolis.com/">Deckman Coss</a>, art by <a href="http://jkittaka.tumblr.com/">Jonathan Kittaka</a>.</p>

<p>how do you Do It was nominated for Best Audio and Best Overall at the NYC 2014 Global Game Jam site.</p>

<p>This game was made using Flixel, box2d, Photoshop, the GNU Image Manipulation Program, Reaper, and Renoise. You can view the <a href="https://github.com/emmett9001/global_gamejam" target="_blank">Github repository</a>.</p>

<p>You can listen to an extended version of the background music by <a href="http://cosstropolis.com">Deckman Coss</a> right <a href="https://soundcloud.com/deckmancoss/we-see-as-we-are">here</a></p>

<p>
    <a href="http://watchlist.kotaku.com/while-playing-game-jam-games-i-might-have-done-sex-53-1509547623">Kotaku watchlist</a>,
    <a href="http://www.freeindiegam.es/2014/01/how-do-you-do-it-emmett-butler-nina-freeman-jonathan-kittaka-deckman-coss/">Free Indie Games</a>,
    <a href="http://indiestatik.com/2014/01/27/global-game-jam-2014-highlights/">Indiestatik</a>,
    <a href="http://killscreendaily.com/articles/news/how-do-you-do-global-game-jam-game-shows-you-how-do-it-kinda/">Killscreen</a>,
    <a href="http://www.rockpapershotgun.com/2014/01/29/the-global-game-jam-mega-stream/">RPS GGJ stream</a>,
    <a href="http://www.rockpapershotgun.com/2014/02/02/live-free-play-hard-frantically-mashing-plastic-crotches-together/">RPS feature</a>,
    <a href="http://www.pcgamer.com/2014/02/01/the-best-free-games-of-the-week-12/">PC Gamer</a>,
    <a href="http://www.rockpapershotgun.com/2014/04/11/s-exe-teen-girl-squad/">RPS Feature</a>
</p>

<p style="text-align: center"><img src="http://i.imgur.com/PJBw4QE.gif" /></p>
    </div>
{% endblock body %}
