{% extends "base.j2" %}

{% block body %}
    <div id="games-menu">
        <h1>Games</h1>
        <div class="row">
            <div class="game">
                <a href="deutscheshaus.html">
                    <img src="{{ media_url('img/finger.gif') }}" />
                    <div class="cap">Deutsches Haus Adventure</div>
                </a>
            </div>
            <div class="game">
                <a href="howdo.html">
                    <img src="http://i.imgur.com/PJBw4QE.gif" />
                    <div class="cap">how do you Do It</div>
                </a>
            </div>
            <div class="game">
                <a href="ladylike.html">
                    <img src="{{ media_url('img/ladylike.png') }}" />
                    <div class="cap">Ladylike</div>
                </a>
            </div>
        </div>
        <div class="row">
          <div class="game">
              <a href="myrules.html">
                  <img src="{{ media_url('img/mhmr.png') }}" />
                  <div class="cap">My House My Rules</div>
              </a>
          </div>
            <div class="game">
                <a href="fishing.html">
                    <img src="{{ media_url('img/dad.gif') }}" />
                    <div class="cap">Hokuto No Huchen</div>
                </a>
            </div>
            <div class="game">
                <a href="cybrid.html">
                    <img src="{{ media_url('img/cybrid.png') }}" />
                    <div class="cap">Cybrid-7X</div>
                </a>
            </div>
        </div>
        <div class="row">
          <div class="game">
              <a href="http://headsuphotdogs.com">
                  <img src="{{ media_url('img/hotdog.gif') }}" />
                  <div class="cap">Heads Up Hot Dogs</div>
              </a>
          </div>
            <div class="game">
                <a href="http://emmettbutler.com/dokideux">
                    <img src="{{ media_url('img/AAAAAA.gif') }}" />
                    <div class="cap">Dokideux Panikku</div>
                </a>
            </div>
        </div>
    </div>
{% endblock body %}
