{% extends "base.j2" %}

{% macro gamelink(href, img, title) %}
    <div class="game">
        <a href="{{ href }}">
            <img src="{{ media_url(img) }}" />
            <div class="cap">{{ title }}</div>
        </a>
    </div>
{% endmacro %}

{% block body %}
    <div id="games-menu">
        <h1>Games</h1>
        <div class="row">
            {{ gamelink("/games/deutscheshaus.html", "img/finger.gif", "Deutsches Haus Adventure") }}
            {{ gamelink("/games/howdo.html", "img/hdydi.gif", "how do you Do It") }}
            {{ gamelink("/games/ladylike.html", "img/ladylike.png", "Ladylike") }}
        </div>
        <div class="row">
            {{ gamelink("/games/myrules.html", "img/mhmr.png", "My House My Rules") }}
            {{ gamelink("/games/fishing.html", "img/dad.gif", "Hokuto No Huchen") }}
            {{ gamelink("/games/cybrid.html", "img/cybrid.png", "Cybrid-7X") }}
        </div>
        <div class="row">
            {{ gamelink("http://headsuphotdogs.com", "img/hotdog.gif", "Heads Up Hot Dogs") }}
            {{ gamelink("http://emmettbutler.com/dokideux", "img/AAAAAA.gif", "Dokideux Panikku") }}
        </div>
    </div>
{% endblock body %}
