{% extends "base.j2" %}

{% block body %}
    <div id="games-wrapper">
        <embed src="{{ media_url('flash/ladylike.swf') }}" width="640" height="480">
        <h1>Ladylike</h1>
        <p><b>Click in the above box to play</b</p>
<p>Originally made for Ludum Dare 27, Aug 24-26 2013 - Emmett Butler, <a target="_blank" href="http://ninasays.so">Nina Freeman</a>, audio by Deckman Coss</p>

<p>Updated version made for IGF Student Showcase - Emmett Butler, <a target="_blank" href="http://ninasays.so">Nina Freeman</a>, audio by <a target="_blank" href="http://cosstropolis.com">Deckman Coss</a>, and visuals by <a target="_blank" href="http://wsong.tumblr.com">Winnie Song</a>. Ladylike received an <a href="http://igf.com/2014/01/2014_independent_games_festiva_2.html">honorable mention</a> in the 2014 IGF Student Showcase.</p>

<p>This game was made using Flixel, Photoshop, the GNU Image Manipulation Program, Twine, and <a href="https://github.com/emmett9001/twine-as3">Twine for Actionscript</a>. You can view the <a href="https://github.com/hentaiphd/ludumdare" target="_blank">Github repository</a>.</p>

<p><a href="http://www.freeindiegam.es/2013/09/ladylike-nina-freeman-emmett-butler-deckman-coss/">Free Indie Games</a>, <a href="http://www.youtube.com/watch?v=ggfmNRpcKtA">Let's Play</a>, <a href="http://indiestatik.com/2014/01/23/eight-student-showcase-finalists-announced-for-the-2014-igf/">Indiestatik</a></p>
    </div>
{% endblock  body %}
