{% extends "base.j2" %}

{% block body %}
    <div id="games-wrapper">
        <embed src="{{ media_url('flash/mhmr.swf') }}" width="640" height="480">
        <h1>My House My Rules</h1>
        <p><b>Click in the above box to play</b</p>
    <p>Move using your arrow keys: left, right, up and down. Hold Z to pick up and carry snacks to hide in your stash. (Hint: it's blinking!). Don't let mom catch you with snacks... or your stash! To distract her, knock stuff over with Z.</p>

<p>Made @ Molyjam 2013 - Emmett Butler, <a target="_blank" href="http://ninasays.so">Nina Freeman</a>, music by seagaia</p>

<p>My House My Rules is a game about a little girl and her snack stash. Her moms don't allow snacks, so she has sneak around the house and save them for later. Don't get caught! The idea for this game comes from Nina's own youth. Her mom was very strict about snacking, and would swoop in any time she heard even a squeak from the kitchen.</p>

<p>This game was made using Flixel and Adobe Photoshop. You can view the <a href=https://github.com/hentaiphd/Molyjam"" target="_blank">Github repository</a> and our <a href=http://www.molyjam.com/games/182"" target="_blank">Molyjam submission page</a>.</p>

<p><a href="http://www.youtube.com/watch?v=h7P4uD6D4es">Let's Play</a></p>
    </div>
{% endblock body %}
